* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
    grid-template-areas: 
        "a b b b"
        "a c c c"
        "a c c c"
        "a c c c";
}

.grid-item {
      font-size: 24px;
}

.grid-item.a {
    grid-area: a;
    background-color: darkgrey;
    align-items: center;
    display:grid;
    position: sticky;

}

.card {
    --main-color: #fff;
    --submain-color: #ccc;
    --bg-color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    width: 300px;
    height: 384px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: var(--bg-color);
  }
  
  .card__img {
    height: 192px;
    width: 100%;
  }
  
  .card__img svg {
    height: 100%;
    border-radius: 20px 20px 0 0;
  }
  
  .card__avatar {
    position: absolute;
    width: 114px;
    height: 114px;
    background: var(--bg-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 57px);
  }
  
  .card__avatar svg {
    width: 100px;
    height: 100px;
  }
  
  .card__title {
    margin-top: 60px;
    font-weight: 500;
    font-size: 18px;
    color: var(--main-color);
  }
  
  .card__subtitle {
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    color: var(--submain-color);
  }
  
  .card__btn {
    margin-top: 15px;
    width: 76px;
    height: 31px;
    border: 2px solid var(--main-color);
    border-radius: 4px;
    font-weight: 700;
    font-size: 11px;
    color: var(--main-color);
    background: var(--bg-color);
    text-transform: uppercase;
    transition: all 0.3s;
  }
  
  .card__btn-solid {
    background: var(--main-color);
    color: var(--bg-color);
  }
  
  .card__btn:hover {
    background: var(--main-color);
    color: var(--bg-color);
  }
  
  .card__btn-solid:hover {
    background: var(--bg-color);
    color: var(--main-color);
  }


.grid-item.b {
    grid-area: b;
    background-color: darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    
}
.grid-item.b.inner-container{
      display:flex;
  }


.logo {
    width: 100px;
    height: 100px; /* Ajout de la hauteur pour maintenir le logo rond */
    overflow: hidden;
    border-radius: 10%;
    margin: 20px;
    place-self:center;

}
.logo img {
    width: 100%;
    height: 100%; /* Ajustement de la hauteur pour s'adapter au conteneur */
    object-fit: cover; /* Pour s'assurer que l'image couvre entièrement le conteneur */
    place-items: center;    
  }

  .grid-item.c {
    grid-area: c;
    background-color: white;
}
