/* ________________________________________________________________________________Version pour mobile ______________________________________________________________________________*/
* {padding: 0; margin: 0;}
html, body { 
   height: 100%; 
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
    background-color: #FF6440;
    text-align: center;
    padding: 5%;
}
/* ________________________________________________________________________________Version pour tablet ______________________________________________________________________________*/
@media only screen and (min-width: 600px)  {

}
/* ________________________________________________________________________________Version pour PC ______________________________________________________________________________*/
@media (min-width: 1430px) {
    
}