<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitsune</title>
    <!--<link href="/static/form.css" rel="stylesheet" type="text/css">-->
</head>
<body>
    <main>
        <p>error 401</p>
        <div class="button">
            <a href="/login"><button><span class="text">se connecter</span></button></a>
        </div>
        <div class="button">
            <a href="/signup"><button><span class="text">s'inscrire</span></button></a>
        </div>
    </main>
</body>
</html>