<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grille 4x4</title>
    <link rel="stylesheet" href="../static/stylsheet/AnnexePage.css">
</head>
<body>
    <div class="grid-container">
        <div class="grid-item a">
            <div class="logo">
                <img src="../static/stylsheet/IMAGES/KitsuneGrand.png" alt="Logo">
            </div>
            <aside class="marge-elements"> 
                <div class="bloc-element"></div>
                <div class="bloc-element"></div>
            </aside>
        </div>

        <div class="grid-item b">
            <div class="inner-container">
                <div class="group">
                    <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
                        <g>
                            <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                        </g>
                    </svg>
                    <input placeholder="Community" type="search" class="input">
                </div>
                <div class="group2">
                    <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
                        <g>
                            <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                        </g>
                    </svg>
                    <input placeholder="User" type="search" class="input">
                </div>
                <a style="--clr: #7808d0" class="button" href="#">
                    <span class="button__icon-wrapper">
                        <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 15">
                            <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                        </svg>
                        <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg" width="10" fill="none" viewBox="0 0 14 15">
                            <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                        </svg>
                    </span>
                    Connexion
                </a>        
            </div>
        </div>

        <div class="grid-item c">
            <div class="content-text">
                <p><strong> Politique de contenu Kitsune </strong></p>
                <br>
                <p>Kitsune est un vaste réseau de communautés créées, gérées et alimentées par vous, les utilisateurs de Kitsune.</p>
                <br>
                <p>Grâce à ces communautés, vous pouvez publier, commenter, voter, discuter, apprendre, débattre, soutenir et vous connecter avec des personnes qui partagent vos intérêts, et nous vous encourageons à trouver – ou même à créer – votre maison sur Kitsune.</p>
                <br>
                <p>Bien que toutes les communautés ne soient pas faites pour vous (et que vous puissiez en trouver certaines sans rapport, voire offensantes), aucune communauté ne doit être utilisée comme une arme. Les communautés devraient créer un sentiment d’appartenance chez leurs membres, et non chercher à le diminuer chez les autres. De même, tout le monde sur Kitsune devrait avoir des attentes en matière de confidentialité et de sécurité, alors veuillez respecter la vie privée et la sécurité des autres.</p>
                <br>
                <p>Chaque communauté sur Kitsune est définie par ses utilisateurs. Certains de ces utilisateurs aident à gérer la communauté en tant que modérateurs. La culture de chaque communauté est façonnée explicitement par les règles communautaires appliquées par les modérateurs et implicitement par les votes positifs, négatifs et les discussions des membres de la communauté. Veuillez respecter les règles des communautés auxquelles vous participez et ne pas interférer avec celles dont vous n'êtes pas membre.</p>
                <br>
                <p>Sous les règles régissant chaque communauté se trouvent les règles à l'échelle de la plateforme qui s'appliquent à tout le monde sur Kitsune. Ces règles sont appliquées par nous, les administrateurs.</p>
                <br>
                <p>Kitsune et ses communautés ne sont que ce que nous en faisons ensemble et ne peuvent exister que si nous fonctionnons selon un ensemble de règles communes. Nous vous demandons de respecter non seulement la lettre de ces règles, mais également leur esprit.</p>
                <br>
                <p><strong>Règles</strong></p>
                <br>
                <p><strong>Règle 1</strong><br>Souvenez-vous de l'humain. Kitsune est un lieu destiné à créer une communauté et un sentiment d'appartenance, et non à attaquer des groupes de personnes marginalisés ou vulnérables. Tout le monde a le droit d'utiliser Kitsune sans harcèlement, intimidation et menaces de violence. Les communautés et les utilisateurs qui incitent à la violence ou qui promeuvent la haine basée sur l'identité ou la vulnérabilité seront interdits.</p>
                <br>
                <p><strong>Règle 2</strong><br>Respectez les règles de la communauté. Publiez du contenu authentique dans les communautés dans lesquelles vous avez un intérêt personnel, et ne trichez pas et ne vous engagez pas dans la manipulation de contenu (y compris le spam, la manipulation de votes, la fraude au bannissement ou la fraude aux abonnés) et n'interférez pas ou ne perturbez pas les communautés Kitsune.</p>
                <br>
                <p><strong>Règle 3</strong><br>Respectez la vie privée des autres. L'incitation au harcèlement, par exemple en révélant des informations personnelles ou confidentielles sur quelqu'un, n'est pas autorisée. Ne publiez jamais ou ne menacez jamais de publier des médias intimes ou sexuellement explicites d'une personne sans son consentement.</p>
                <br>
                <p><strong>Règle 4</strong><br>Ne partagez pas et n'encouragez pas le partage de contenus à caractère sexuel, abusif ou suggestif impliquant des mineurs. Tout comportement prédateur ou inapproprié impliquant un mineur est également strictement interdit.</p>
                <br>
                <p><strong>Règle 5</strong><br>Vous n'êtes pas obligé d'utiliser votre vrai nom pour utiliser Kitsune, mais n'usurpez pas l'identité d'un individu ou d'une entité de manière trompeuse ou trompeuse.</p>
                <br>
                <p><strong>Règle 6</strong><br>Assurez-vous que les utilisateurs vivent des expériences prévisibles sur Kitsune en étiquetant correctement le contenu et les communautés, en particulier le contenu graphique, sexuellement explicite ou offensant.</p>
                <br>
                <p><strong>Règle 7</strong><br>Gardez les choses légales et ne participez pas ou ne facilitez pas des transactions illégales ou interdites.</p>
                <br>
                <p><strong>Règle 8</strong><br>Ne cassez pas le site et ne faites rien qui interfère avec l'utilisation normale de Kitsune.</p>
                <br>
                <p><strong>Mise en vigueur</strong><br>Nous disposons de diverses manières de faire respecter nos règles, notamment, mais sans s'y limiter :</p>
                <br>
                <p>- Je te demande gentiment de l'arrêter</p>
                <br>
                <p>- Te demander moins gentiment</p>
                <br>
                <p>- Suspension temporaire ou définitive des comptes</p>
                <br>
                <p>- Suppression de privilèges ou ajout de restrictions à des comptes</p>
                <br>
                <p>- Ajout de restrictions aux communautés Kitsune, telles que l'ajout de balises NSFW ou la mise en quarantaine</p>
                <br>
                <p>- Suppression de contenu</p>
                <br>
                <p>- Interdiction des communautés Kitsune</p>
                <br>
                <br>
                <br>
            </div>
        </div>

    </div>
</body>
</html>
