<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitsune</title>
    <link href="/static/stylsheet/subPage.css" rel="stylesheet" type="text/css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <script type="module" src="../static/js/connexion.js"></script>
    <section class="box">
        <img src="../static/stylsheet/IMAGES/KitsuneGrand.png" class="Kitsune">
        <h1>Connexion</h1>
        <form method="POST">
            <input type="text"  name="usermailconn" required autofocus placeholder="entrer votre email ou votre pseudo" class="entry">
            <article class="password-container">
                <input type="password" minlength="8" name="pwdconn" required autofocus placeholder="Entrer un mot de passe" id="pwd" class="entry">
                <button type="button" id="togglePassword" class="toggle-button"><i class="fa-solid fa-eye"></i></button>
            </article>
            <input type="submit" value="se connecter" class="btn">
        </form> 
        <section class="button">
            <a href="/signup"><button type="button" class="btn"><span class="text">inscription</span></button></a>
        </section>
    </section>
</body>
</html>