<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitsune</title>
    <link rel="stylesheet" href="../static/stylsheet/HomePage.css">
</head>

<body>
    <section class="grid-container">
        <article class="grid-item a">
            <span class="logo">
                <img src="../static/stylsheet/IMAGES/KitsuneGrand.png" alt="Logo">
            </span>
            <aside class="marge-elements">
                <span class="bloc-element"> 

                </span>
                <span class="bloc-element"> 
                    <section class="button">
                        <a href="/confidential">RGPD</a>
                    </section>
                    <section class="button">
                        <a href="/about">about</a>
                    </section>
                </span>
            </aside>
        </article>


        <article class="grid-item b">
            <span class="inner-container">
                <form method="GET"  class="searchform">
                    <span class="group">
                        <input type="text" name="chanels" autofocus placeholder="Entrer un channel" class="input">
                    </span>
                    <span class="group2">
                        <input type="text" name="username" autofocus placeholder="Entrer un nom d'utilisateur" class="input">
                    </span>
                    <input type="submit" value="Find Post" id="grid-itembinput">
                </form>
                <a style="--clr: #7808d0" class="button" href="/login">
                    <span class="button__icon-wrapper">
                        <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 15">
                            <path fill="currentColor"
                                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z">
                            </path>
                        </svg>

                        <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg"
                            width="10" fill="none" viewBox="0 0 14 15">
                            <path fill="currentColor"
                                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z">
                            </path>
                        </svg>
                    </span>
                    Connexion
                </a>
                <span class="profil-elements">
                    <a href="/profile">
                        <span class="logo_user">    
                            <img id="homeAvatar" src="{{.Profile.Pp}}" alt="Profil_Avatar">
                        </span>
                    </a>
                </span>
            </span>
        </article>
        <article class="grid-item c">
        </article>
</body>
</html>

    