<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitsune</title>
    <!--<link href="/static/form.css" rel="stylesheet" type="text/css" >-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <script type="module" src="../static/js/inscription.js"></script>
    <form method="POST">
        <input type="email" name="usermail" required autofocus placeholder="entrer votre email">
        <input type="text" name="username" required autofocus placeholder="entrer votre pseudo" maxlength="10">
        <section class="password-container">
            <input type="password" minlength="8" name="pwd" required autofocus placeholder="Entrer un mot de passe" id="pwd">
            <button type="button" id="togglePassword" class="toggle-button"><i class="fa-solid fa-eye"></i></button>
        </section>
        <section class="password-container">
            <input type="password" minlength="8" name="pwd2" required autofocus placeholder="Réécrire le mot de passe" id="pwd2">
            <button type="button" id="togglePassword2" class="toggle-button"><i class="fa-solid fa-eye"></i></button>
        </section>
        <input type="submit" value="s'inscrire">
    </form>
    
</body>
</html>