<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitsune</title>
    <!--<link href="/static/form.css" rel="stylesheet" type="text/css">-->
</head>
<body>
    <main>
        <section class="button">
            <a href="/pwd"><button type="button"><span class="text">changer de mot de passe</span></button></a>
        </section>
        <section class="button">
            <a href="/username"><button type="button"><span class="text">changer de pseudo</span></button></a>
        </section>
        <section class="button">
            <a href="/compte"><button type="button"><span class="text">home page</span></button></a>
        </section>
        <section class="button">
            <a href="/deconnexion"><button type="button"><span class="text">se déconnecter</span></button></a>
        </section>
        <section class="button">
            <a href="/suppression"><button type="button"><span class="text">supprimer le compte</span></button></a>
        </section>
    </main>
</body>
</html>