<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitsune</title>
    <link href="/static/stylsheet/subPage.css" rel="stylesheet" type="text/css">
</head>
<body>
    <section class="box">
        <h1>Changer de mots de passe</h1>
        <form method="POST">
            <input type="password" name="actualpwd" required autofocus placeholder="entrer votre mot de passe actuel" class="entry">
            <input type="password" minlength="8" name="newPwd" required autofocus placeholder="entrer le nouveau mot de passe" class="entry">
            <input type="password" minlength="8" name="newPwd2" required autofocus placeholder="réecriver le mot de passe" class="entry">
            <input type="submit" value="changer de mot de passe" class="btn">
        </form>
    </section>
</body>
</html>