<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitsune</title>
    <!--<link href="/static/form.css" rel="stylesheet" type="text/css">-->
</head>
<body>
    <main>
        <form method="POST">
            <input type="text" maxlength="10" name="username" required autofocus placeholder="entrer votre mot de passe actuel">
            <input type="text" maxlength="10" name="newUsername" required autofocus placeholder="entrer le nouveau pseudo">
            <input type="text" maxlength="10" name="newUsername2" required autofocus placeholder="réecriver le pseudo">
            <input type="submit" value="changer de pseudo">
        </form>
    </main>
</body>
</html>